<form id='blog' class='container'>
  <div class='form-group'>
    <label class='fs-3'>Title</label>
    <input
      type='text'
      class='form-control'
      id='title'
      placeholder='My new blog title'
    />
  </div>

  <div class='form-group'>
    <label class='fs-3'>Content</label>
    <textarea
      type='textarea'
      class='form-control'
      id='content'
      rows='10'
    ></textarea>
  </div>

  <button type='submit' class='btn mt-2'>Create Post</button>

</form>
<script src='/js/blogCreate.js'></script>