<div class="container">
    <div class="row">
        <div class="col-12 my-2">
        {{> blog-info}}
        </div>
    </div>
</div>



{{#if comments}}
<div class="container">
<h2>Comments</h2>
{{#each comments as |comment|}}
{{> comment-info}}
{{/each}}
</div>
{{/if}}

{{#if loggedIn}}
<div class="container">
<h2>Leave a comment</h2>
<div class="card shadow-xl">
  <form id="comment-form">
  <div class="card-body">
    <div class='form-group'>
        <label class='fs-3'>Content</label>
        <textarea
          type='textarea'
          class='form-control'
          id='content'
          rows='3'
        ></textarea>
      </div>
    <button type="submit" class="btn mt-2">Submit</button>
  </div>
  </div>
  </form>
</div>
<script src="/js/comment.js"></script>
{{else}}
<h3 class="text-center">Login to leave a comment</h3>
{{/if}}