<form class='flex flex-col gap-2 container mx-auto' id='blog-form'>
  <label class='input input-bordered flex items-center gap-2'>

    <input type='text' class='grow' placeholder='Title' id='title-blog' />
  </label>
  <textarea
    class='textarea textarea-bordered w-full'
    placeholder='Your blog content'
    id='content-blog'
  ></textarea>
  <button class='btn btn-primary'>Create</button>
</form>
<script src='/js/blog.js'></script>