<div class="container">
    <div class="row">
    {{#each blogs as |blog|}}
    <div class="col-sm-12 col-md-6 my-2">
    {{> blog-info}}
    </div>
    {{/each}}
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn" id="newpost" href="/dashboard">+ New Post</a>
    </div>
</div>