<form id='login'>
  <input type='text' placeholder='Username' id='username' />

  <input
    type='password'
    class='grow'
    placeholder='Password'
    id='password-login'
  />

  <button class='btn btn-primary'>Log In</button>
</form>
<script src='/js/login.js'></script>