<form id='login'>
  <input type='text' placeholder='Username' id='username' />

  <input type='password' placeholder='Password' id='password' />

  <button class='btn btn-primary'>Log In</button>
</form>
<script src='/js/login.js'></script>